.root {
  display: flex;
  flex-direction: column;
  height: calc(100vh);
  width: calc(100vw);
  > :nth-child(2) {
    flex-grow: 1;
  }
}

.main {
  display: flex;
  flex-direction: row;
}

.leftSide {
  display: flex;
  flex-direction: column;
  > :nth-child(1) {
    margin-left: -2px;
  }
}

.rightSide {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow: hidden;
  > :nth-child(1) {
    margin-bottom: 2px;
    margin-left: 2px;
  }
  > :nth-child(n + 2):nth-last-child(n + 3) {
    margin-bottom: 4px;
    margin-left: 4px;
  }
  > :nth-last-child(2) {
    flex-grow: 1;
    margin-bottom: 2px;
    margin-left: 4px;
  }
  > :nth-last-child(1) {
    margin-left: 4px;
  }
}
