.luxor {
  background-color: #ff0000;
  color: #ffffff;
}

.tower {
  background-color: #ffff00;
}

.american {
  background-color: #0000ff;
  color: #ffffff;
}

.festival {
  background-color: #00ff00;
}

.worldwide {
  background-color: #804000;
  color: #ffffff;
}

.continental {
  background-color: #00ffff;
}

.imperial {
  background-color: #ff00ff;
  color: #ffffff;
}

.nothing {
  background-color: #ffffc0;
}

.nothingYet {
  background-color: #000000;
  color: #ffffff;
}

.cantPlayEver {
  background-color: #808080;
  color: #ffffff;
}

.iHaveThis {
  background-color: #ffe0a0;
}

.willPutLonelyTileDown {
  background-color: #c0c0c0;
}

.haveNeighboringTileToo {
  background-color: #c0ffc0;
}

.willFormNewChain {
  background-color: #ffffff;
}

.willMergeChains {
  background: url(./merge.png);
}

.cantPlayNow {
  background-color: #606060;
  color: #ffffff;
}

.username {
  background-color: #d3d3d3;
}

.hotelButton {
  font-weight: bold;
  padding: 1px;

  &:focus {
    box-shadow: 0px 0px 2px 0px #323232;
  }
}

.invisible {
  visibility: hidden;
}

.errorMessage {
  color: #ff0000;
  font-weight: bold;
}

.team1 {
  background-color: #fff7e7;
}

.team2 {
  background-color: #eee7ff;
}

.team3 {
  background-color: #ebffe7;
}
